
<div class="trialpartWrapper" style="text-align: left;">
	<b>Welcome!</b>

<p>
<p>
<li><b>Eligibility</b>: You must be a native speaker of American English, and you need working speakers or headphones to participate. <i>Please do not accept this HIT if you have previously accepted a HIT from this same requester (Juliet Stanton) with this same name ("Help a travel company with new slogans!").</I> </li><br>

<li><b>How you get paid</b>: Once you complete the study, you will receive a code to enter on Mechanical Turk to get paid. <i>HIT approval is based on the correlation between your responses and the rest of the group. Answering the questions at random will not get you to the threshold, but you will reach the threshold if you speak American English natively, listen to all recordings, and follow all directions.</i></li><br>

<li><b>Instructions</b>: A travel company is inventing new slogans to encourage their clients to travel to new destinations. They are not sure how to pronounce certain words in these slogans, and need your help. You will listen to the destination name, as well as two possible pronunciations (ways of saying) of each word that they have questions about. You will have to choose which pronunciation you prefer.</li></p>

<li><b>Consent Statement</b>: You are participating in a research study on language production and comprehension. This study is conducted by Juliet Stanton at the Department of Linguistics, New York University. By participating in this study, you confirm that you are at least 18 years old. If you continue, understand that your participation in this experiment is voluntary and you have the right to withdraw your consent or discontinue participation at any time. However, please note that if you withdraw before completing the study, no data will be transmitted to the server and you will not receive payment, as we have no way of verifying that you have participated at all. We estimate completion of the experiment to take approximately 15 minutes. There are no risks or benefits of any kind associated with participation in this study. You will be paid for your participation at the posted rate. Your participation in this study will remain confidential. We are not collecting any personally identifiable information aside from your IP address and MTurk Worker ID. Your individual privacy will be maintained in all published and written data resulting from the study. In case we publish raw data or share them with other researchers, your IP address and MTurk Worker ID will be removed from the dataset. You may print this declaration for your records. If you have questions about this study, please feel free to email Juliet Stanton at stanton@nyu.edu. For questions about your rights as a research participant, you may contact the University Committee on Activities Involving Human Subjects, New York University, 665 Broadway, Suite 804, New York, NY 10012 at 212-998-4808 or ask.humansubjects@nyu.edu.</li></p>

<p><b>Press 'continue' when you are ready to start.</b></p>

	<%= continueButton() %>
</div>

		

