
<div class="trialpartWrapper" style="text-align: center;">

		<b>Please prepare your speakers or headphones. </b> <p> Please push the 'play' button to listen to a sample word and adjust the audio
volume to a comfortable level.  You can listen to this word as many times as you need to while adjusting your audio volume. <p>
	
		<%= makeSoundButton({soundFile:"test.mp3", label: "play", maxRepeat: 100}) %>
</div>		

<div class="trialpartWrapper" style="text-align: center;">

	What word did you hear? 
	<p>
<%=  makeTextInput({style: "width: 6em; font-size: 1em;", 
	allowempty: false, 
	matchRegExpression:"[Hh][Ee][Ll]+[Oo]", 
	rightAnswer: "hello", 
	feedbackID: "#feedback", 
feedbackMatch: "Close enough!", 
	feedbackWrong: "Sorry, you did not type the word in correctly. Please listen to the word again, then type it in using lowercase letters.", 
	feedbackRight: "Yes! the word was indeed RIGHTANSWER. Click to continue to the study."  }) 
	%>
	<%=continueButton({label:'enter'}) %>
</div>


<div id = "feedback">

</div>

<div class = 'trialpartWrapper' style = 'text-align: center;'>
<br>
<%=continueButton({hide:true}) %>

</div>
	



		

