<div style="text-align: left">

<p>
That's it! Thank you again. Please enter the following code on Mechanical Turk to get paid for this HIT:

	<br>
			<div class="trialpartWrapper" style="text-align: left; margin: 0px 0px 20px 40px">
			<big><b>Q<%= Experigen.userCode %></b></big><br><br>
	<br>
</div>

</p>

</div>